@model VowelFoundation.Models.Home

@{
    ViewBag.Title = "BlogDetail";
    Layout = "~/Views/Shared/WebsiteLayout.cshtml";
}

<!-- .wpo-breadcumb-area start -->
<div class="wpo-breadcumb-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="wpo-breadcumb-wrap">
                    <h2>Latest News</h2>
                    <ul>
                        <li><a href="/Home/Blog Detail">Home</a></li>
                        <li><span>Blog</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- .wpo-breadcumb-area end -->
<!-- start wpo-blog-single-section -->
<section class="wpo-blog-single-section section-padding">
    <div class="container">
        <div class="row">
            <div class="col col-md-8">
                <div class="wpo-wpo-blog-content clearfix">
                    <div class="post">
                        <div class="entry-media">
                            <img src="~/assets/images/blog/img-4.jpg" alt>
                        </div>
                        <ul class="entry-meta">
                            <li><a href="#"><img src="~/assets/images/blog/admin.jpg" alt> By Admin</a></li>
                            <li><a href="#"><i class="ti-calendar"></i> Sep 25,2020</a></li>
                            <li><a href="#"><i class="ti-heart"></i> 35</a></li>
                        </ul>
                        <h2>Help the helpless who need you.</h2>
                        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now.</p>
                        <p>The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now.</p>
                        <blockquote>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. </blockquote>
                        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now.</p>
                        <p>The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now.</p>
                    </div>               
                </div>
            </div>
            <div class="col col-md-4">
                <div class="wpo-blog-sidebar">                 
                    <div class="widget category-widget">
                        <h3>Categories</h3>
                        <ul>
                            <li><a href="#">Helping Poor</a></li>
                            <li><a href="#">Water Problem</a></li>
                            <li><a href="#">Charity</a></li>
                            <li><a href="#">Medical Campain</a></li>
                            <li><a href="#">Free Food</a></li>
                        </ul>
                    </div>
                    <div class="widget recent-post-widget">
                        <h3>Recent posts</h3>
                        <div class="posts">
                            <div class="post">
                                <div class="img-holder">
                                    <img src="~/assets/images/recent-posts/img-1.jpg" alt>
                                </div>
                                <div class="details">
                                    <h4><a href="#">Many Children are suffering a lot for food.</a></h4>
                                    <span class="date">22 Sep 2020</span>
                                </div>
                            </div>
                            <div class="post">
                                <div class="img-holder">
                                    <img src="~/assets/images/recent-posts/img-2.jpg" alt>
                                </div>
                                <div class="details">
                                    <h4><a href="#">Be kind for the poor people and the kids.</a></h4>
                                    <span class="date">22 Sep 2020</span>
                                </div>
                            </div>
                            <div class="post">
                                <div class="img-holder">
                                    <img src="~/assets/images/recent-posts/img-3.jpg" alt>
                                </div>
                                <div class="details">
                                    <h4><a href="#">Be soft and kind for the poor people.</a></h4>
                                    <span class="date">22 Sep 2020</span>
                                </div>
                            </div>
                        </div>
                    </div>                 
                </div>
            </div>
        </div>
    </div> <!-- end container -->
</section>
<!-- end wpo-blog-single-section -->
